<h1 style="background-color: #8c8c8c; font-family:'Times New Roman', Times, serif; font-size:1.8rem" class="p-2 mb-3 text-white  d-flex justify-content-center">
    {{#if libro}}
    <span>Editar Libro</span>
    {{else}}
    <span>Nuevo Libro</span>
    {{/if}}
</h1>

<div class="container">
    {{#if libro}}
        <form action="/libros/eliminar" method="post" enctype="application/x-www-form-urlencoded">
            <input type="hidden" value="{{libro.id}}" id="libroId" name="libroId" />

            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalEliminar">
                <i class="bi bi-trash" style="font-size: 1rem;"></i> Eliminar este libro
            </button>

            <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarEtiqueta" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEliminarEtiqueta">Eliminar este libro</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Esta acci&oacute;n no se puede deshacer ¿Eliminar?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Mejor no</button>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {{/if}}
    <form
        action="{{#if libro}}/libros/actualizar{{else}}/libros/agregar{{/if}}"
        method="post"
        enctype="application/x-www-form-urlencoded"
        >
        {{#if libro}}
        <input type="hidden" value="{{libro.id}}" id="idd" name="id" />
        {{/if}}
        <div class="row mb-3">
            <label for="titulo" class="col-sm-2 col-form-label">T&iacute;tulo</label>
            <div class="col-sm-10">
                <input type="input" class="form-control" id="titulo" name="titulo" {{#if libro}}value="{{libro.titulo}}"{{/if}} />
            </div>
        </div>
        <div class="row mb-3">
            <label for="autor" class="col-sm-2 col-form-label">Autor</label>
            <div class="col-sm-10">
                <input type="input" class="form-control" id="autor" name="autor" {{#if libro}}value="{{libro.autor}}"{{/if}} />
            </div>
        </div>
        <div class="row mb-3">
            <label for="calificacion" class="col-sm-2 col-form-label">Calificaci&oacute;n</label>
            <div class="col-1">
                <input type="input" class="form-control" id="calificacion" name="calificacion" {{#if libro}}value="{{libro.calificacion}}"{{/if}} />
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <a href="/libros" class="btn btn-danger">Regresar</a>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
        </div>
    </form>
</div>